<section class="{% if section.color_fons %}{{ section.color_fons }}{% else %}{% endif %}" data-sr-id="1" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="elements--title">
                    <h4 class="color--primary-1">{{ section.titol_seccio }}</h4>
                </div>
            </div>
            {% for item in section.objectius %}
            {% include theme/feature-1-icon.html color="color--primary-1" %}
            {% endfor %}
        </div>
    </div>
</section>
