<section class="features features-4 {% if section.fons %}{{ section.fons }}{% else %}{% endif %}" data-sr-id="3" >
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-7">
                <h3>{{ section.titol_seccio }}</h3>
                <div class="feature">
                    {{ section.content }}
                </div>
            </div>
            <div class="col-md-7 features__avatar">
                <img alt="{{ section.descripcio_imatge }}" src="{{ site.baseurl }}/{{ site.images_path }}/{{ section.imatge }}">
            </div>
        </div>
    </div>
</section>
