<!-- Content with image on the right side -->
<section class="imageblock about-1" id="{% if section.a1_id %}{{ section.a1_id }}{% else %}{% endif %}">
  <div class="imageblock__content col-md-6 col-sm-4 pos-right">
    <div class="background-image-holder">
      <img alt="{{ section.descripcio_imatge }}" src="{{ site.baseurl }}/{{ site.images_path }}/{{ section.imatge }}">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-8">
        <h3>{{ section.titol_seccio }}</h3>
        {{ section.content }}
      </div>
    </div>
  </div>
</section>
