<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

{% include shared/head.html %}

<body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)" class="scroll-assist">
<a id="top" data-scroll-id="top" tabindex="-1" style="outline: none;"></a>
{% include shared/nav.html %}


<div class="main-container {{ page.color_pagina }}">
{% if page.video_titular %}{% include shared/video-header.html %}{% else %}{% include shared/header.html %}{% endif %}

<!-- Main Content -->

{{ content }}

<!-- End main Content -->

{% include shared/footer.html %}
</div>

{% include shared/script.html %}

</body>

</html>
