<!-- Features icon boxed section -->
<section id="{% if section.a1_id %}{{ section.a1_id }}{% else %}{% endif %}" class="stats-1 {% if section.color_fons %}{{ section.color_fons }}{% else %}{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center feature-1">
                <h2 class="color--primary">{{ section.titol_seccio }}</h2>
            </div>
        </div>
        <div class="row">
            {% for item in section.conceptes %}
            <div class="col-sm-4 ">
                <a href="#{{ item.link }}">
                    <div class="stats-1 feature feature-1 text-center boxed boxed--lg">
                        <img class="a1-icon" src="{{ item.icona }}" alt="icona {{ item.nom }}">
                        <h3>{{ item.nom }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
