<section class="features features-3 imagebg height-80 parallax" data-overlay="7">
    <div class="background-image-holder" style="transform: translate3d(0px, 220.5px, 0px); background: url(&quot;{{ section.imatge }}&quot;); opacity: 1;">
        <img alt="{{ section.descripcio_imatge }}" src="{{ section.imatge }}">
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7 col-sm-9">
                <h2>{{ section.titol_seccio }}</h2>
                <div class="lead">{{ section.content }}</div>
            </div>
        </div>
    </div>
</section>
