@import "variables.scss";

/***************************
  Site custom styles below
****************************/

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
h1,
.h1 {
  font-size: 3.14285714em;
  line-height: 1.31818182em;
}
h2,
.h2 {
  font-size: 2.35714286em;
  line-height: 1.36363636em;
}
h3,
.h3 {
  font-size: 1.78571429em;
  line-height: 1.5em;
}
h4,
.h4 {
  font-size: 1.35714286em;
  line-height: 1.36842105em;
}
h5,
.h5 {
  font-size: 1em;
  line-height: 1.85714286em;
}
h6,
.h6 {
  font-size: 0.85714286em;
  line-height: 2.16666667em;
}
.lead {
  font-size: 1.35714286em;
  line-height: 1.68421053em;
}
@media all and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.35714286em;
    line-height: 1.36363636em;
  }
  h2,
  .h2 {
    font-size: 1.78571429em;
    line-height: 1.5em;
  }
  h3,
  .h3 {
    font-size: 1.35714286em;
    line-height: 1.85714286em;
  }
  .lead {
    font-size: 1.35714286em;
    line-height: 1.36842105em;
  }
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1.85714286em;
}
blockquote.a1-quote {
  border: none;
  padding: 0;
  margin: 0 0 20px;
  font-size: 0.9em;
}

//OVERRIDES THEME COLORS

body {
  background: $bg-color;
}
.color--primary {
  color: $primary !important;
}

.color--primary-1 {
  color: $primary-1 !important;
}
.color--primary-2 {
  color: $primary-2 !important;
}
.color--primary-light {
  color: $primary-light !important;
}
.color--primary-1-light {
  color: $primary-1-light !important;
}
.color--primary-2-light {
  color: $primary-2-light !important;
}
.color--light {
  color: $light-color;
}

a {
  color: $primary-2-dark;
}

a:hover {
  color: $primary-1;
}

h1.color--primary,
h2.color--primary,
h3.color--primary,
h4.color--primary,
h5.color--primary,
h6.color--primary {
  color: $primary-dark;
}

h1.color--primary-1,
h2.color--primary-1,
h3.color--primary-1,
h4.color--primary-1,
h5.color--primary-1,
h6.color--primary-1 {
  color: $primary-1-dark;
}

h1.color--primary-2,
h2.color--primary-2,
h3.color--primary-2,
h4.color--primary-2,
h5.color--primary-2,
h6.color--primary-2 {
  color: $primary-2-dark;
}

.color--dark {
  color: $dark-color;
}
.bg--dark {
  background: $dark-color;
}
.bg--dark:not(.nav-bar) {
  color: $light-color;
}
.bg--dark:not(.nav-bar) h1,
.bg--dark:not(.nav-bar) h2,
.bg--dark:not(.nav-bar) h3,
.bg--dark:not(.nav-bar) h4,
.bg--dark:not(.nav-bar) h5,
.bg--dark:not(.nav-bar) h6,
.bg--dark:not(.nav-bar) i,
.bg--dark:not(.nav-bar) span:not(.btn__text),
.bg--dark:not(.nav-bar) p {
  color: $light-color;
}
.bg--site {
  background: $bg-color;
}
.bg--secondary {
  background: $bg-secondary;
}
.bg--primary {
  background: $primary;
}

.bg--primary-1 {
  background: $primary-1;
}

.bg--primary-2 {
  background: $primary-2;
}

.bg--primary-light {
  background: $primary-light;
}

.bg--primary-1-light {
  background: $primary-1-light;
}

.bg--primary-2-light {
  background: $primary-2-light;
}

.bg--white p,
.bg--white span,
.bg--white ul,
.bg--white a:not(.btn) {
  color: $text-color;
}
.bg--white h1,
.bg--white h2,
.bg--white h3,
.bg--white h4,
.bg--white h5,
.bg--white h6,
.bg--white i {
  color: $dark-color;
}
.imagebg:not(.image--light) .bg--white p,
.imagebg:not(.image--light) .bg--white span,
.imagebg:not(.image--light) .bg--white ul,
.imagebg:not(.image--light) .bg--white a:not(.btn) {
  color: $text-color;
}
.imagebg:not(.image--light) .bg--white h1,
.imagebg:not(.image--light) .bg--white h2,
.imagebg:not(.image--light) .bg--white h3,
.imagebg:not(.image--light) .bg--white h4,
.imagebg:not(.image--light) .bg--white h5,
.imagebg:not(.image--light) .bg--white h6,
.imagebg:not(.image--light) .bg--white i {
  color: $dark-color;
}

// FONTS

@font-face {
  font-family: 'Arcadia';
  src: url('fonts/arcadia.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Arcadia', 'Poppins', 'Montserrat', 'Arial', sans-serif!important;
  color: #343434;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  margin-top: 0.5em;
  margin-bottom: 1em;
}


// HEADER CLIP-PATH

.height-70 .background-image-holder {
  clip-path: url(img/dibuix.svg#header);
  clip-path: ellipse(100% 70% at 50% 30%);
}

.lila .height-70[data-overlay]:before
 {
  background: $primary-2;
  clip-path: ellipse(100% 70% at 19% 30%);
 /* Old Browsers */background: -moz-linear-gradient(-45deg, $primary-2 0%, $primary-2 22%, $primary-1-dark 66%, $primary-1-dark 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, $primary-2), color-stop(22%, $primary-2), color-stop(66%, $primary-1-dark), color-stop(100%, $primary-1-dark));
 /* Chrome, Safari4+ */background: -webkit-linear-gradient(-45deg, $primary-2 0%, $primary-2 22%, $primary-1-dark 66%, $primary-1-dark 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, $primary-2 0%, $primary-2 22%, $primary-1-dark 66%, $primary-1-dark 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, $primary-2 0%, $primary-2 22%, $primary-1-dark 66%, $primary-1-dark 100%);
 /* IE 10+ */background: linear-gradient(135deg, $primary-2 0%, $primary-2 22%, $primary-1-dark 66%, $primary-1-dark 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#830074', endColorstr='#1d340e', GradientType=1 );
/* IE6-9 fallback on horizontal gradient */
}

.vermell .height-70[data-overlay]:before {
  background: $primary;
  clip-path: ellipse(100% 70% at 19% 30%);
 /* Old Browsers */background: -moz-linear-gradient(-45deg, $primary 0%, $primary 42%, $primary-1-light 66%, $primary-1-light 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, $primary), color-stop(42%, $primary), color-stop(66%, $primary-1-light), color-stop(100%, $primary-1-light));
 /* Chrome, Safari4+ */background: -webkit-linear-gradient(-45deg, $primary 0%, $primary 42%, $primary-1-light 66%, $primary-1-light 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, $primary 0%, $primary 42%, $primary-1-light 66%, $primary-1-light 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, $primary 0%, $primary 42%, $primary-1-light 66%, $primary-1-light 100%);
 /* IE 10+ */background: linear-gradient(135deg, $primary 0%, $primary 42%, $primary-1-light 66%, $primary-1-light 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b80000', endColorstr='#cfedba', GradientType=1 );
/* IE6-9 fallback on horizontal gradient */
}

.verd .height-70[data-overlay]:before
 {
  background: $primary-1;
  clip-path: ellipse(100% 70% at 19% 30%);
 /* Old Browsers */background: -moz-linear-gradient(-45deg, $primary-1 0%, $primary-1 22%, $primary-2 66%, $primary-2 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, $primary-1), color-stop(22%, $primary-1), color-stop(66%, $primary-2), color-stop(100%, $primary-2));
 /* Chrome, Safari4+ */background: -webkit-linear-gradient(-45deg, $primary-1 0%, $primary-1 22%, $primary-2 66%, $primary-2 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, $primary-1 0%, $primary-1 22%, $primary-2 66%, $primary-2 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, $primary-1 0%, $primary-1 22%, $primary-2 66%, $primary-2 100%);
 /* IE 10+ */background: linear-gradient(135deg, $primary-1 0%, $primary-1 22%, $primary-2 66%, $primary-2 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b8523', endColorstr='#830074', GradientType=1 );
/* IE6-9 fallback on horizontal gradient */
}

// IMAGE BLOC CLIP-PATH

@media all and (min-width: 767px) {
  .about-1 .pos-left .background-image-holder {
    -webkit-clip-path: ellipse(60% 150% at 40% 0%);
    clip-path: ellipse(60% 150% at 40% 0%);
  }
}

@media all and (min-width: 767px) {
  .about-1 .pos-right .background-image-holder {
    -webkit-clip-path: ellipse(60% 150% at 60% 100%);
    clip-path: ellipse(60% 150% at 60% 100%);
  }
}

// FEATURES AVATAR

.avatar {
  border-radius: 50%;
  max-width: 6em;
  max-height: auto;
  margin-bottom: 0;
  margin-top: 1em;
}

// FOOTER

.a1-license a {
  opacity: .5;
  text-decoration: none;
}

.a1-license a:hover {
  opacity: 1;
  text-decoration: none;
}


/**! 18. Boxes **/

.boxed.boxed--lg {
  padding: 3.65625em 1.65625em 3.65625em 1.65625em;
}

.stats-1 .feature {
  border-radius: 2em;
}

#intro-home a:hover {
  text-decoration: none;
}

#intro-home a:hover div {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}


.hover-element__initial img {
  -webkit-filter: brightness(40%) hue-rotate(30deg);
}

// SVG ICONS

.a1-icon {
  max-width: auto;
  height: 6em;
  margin-bottom: 0;
  margin-top: 1em;
}

/**! features **/

@media all and (min-width: 768px) {
  .features-12 .feature[class*='col-']:not(:last-child) {
    padding-right: 1em;
  }
  .features-12 .feature[class*='col-']:last-child {
    padding-left: 1em;
  }
}

.features-12 p.lead {
  margin-bottom: 1.8em;
}

.barchart-2 .barchart__bar {
  background: $primary-1-light;
}


.a1-rounded-border {
  border-radius: 2em;
}

.a1-margin {
  margin: 2em!important;
}

/**! Lists **/

.a1-list ul,
.a1-list ol {
  list-style: disc;
  margin-left: 15px;
}
